<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.server.framework.dao.DictMapper">
    <select id="selectDictList" resultType="com.mx.server.framework.model.entity.DictEntity">
        select * from s_dict
        <where>
            <if test="parentCode == null or parentCode == ''">
                parent_code is null
            </if>
            <if test="parentCode != null and parentCode != ''">
                and parent_code = #{parentCode}
            </if>
            <if test="parentId == null or parentId == ''">
                and parent_id is null
            </if>
            <if test="parentId != null and parentId != ''">
                and parent_id = #{parentId}
            </if>
            <if test="label != null and label != ''">
                and label like concat('%', #{label}, '%')
            </if>
            <if test="code != null and code != ''">
                and code like concat('%', #{code}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
        ORDER BY orders ASC, create_time DESC
    </select>
    <select id="selectByIdOrCode" resultType="com.mx.server.framework.model.entity.DictEntity">
        select * from s_dict
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
        </where>
    </select>
    <select id="selectDictTreeNode" resultType="com.mx.server.framework.model.vo.res.ResTreeNodeVO">
        SELECT
        id, label, code, orders,create_time,is_default
        FROM
        s_dict
        <where>
            <if test="id != null ">
                parent_id=#{id}
            </if>
            <if test="id == null ">
                and    parent_id IS NULL
            </if>
        </where>
    </select>
</mapper>
